In [7]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import numpy as np
plotly.tools.set_credentials_file(username='yaghdev', api_key='BZvETrFTjtGisnoBsxAP')

In [8]:
year = ['2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']
ary = ['Accounting','Economics','Economics, Management', 'Entrepreneurship', 'Ethics', 'Finance', 'Human Resources', 'International Business', 'Management','Marketing', 'Operations & Information Systems', 'Organizational Behaviour']

for area in year:    
    excel = pd.read_csv('D:/new_ft50/edges_excel/insitutional_edege'+str(area)+'.csv')
    insitute_with_in_usa = excel.loc[(excel['Source'].apply(lambda x: x[-4:] == 'USA.')) & (excel['Target'].apply(lambda x: x[-4:] != 'USA.')) | (excel['Source'].apply(lambda x: x[-4:] != 'USA.')) & (excel['Target'].apply(lambda x: x[-4:] == 'USA.'))]
    insitute_with_in_usa = insitute_with_in_usa.sort_values(by='Weight', ascending=False)
    result = insitute_with_in_usa.groupby(['Source']).agg({'Source':'count', 'Weight':'sum'}).sort_values(by='Weight', ascending=False)
    result['rank'] = [x for x in range(1, len(result)+1)]
    result['percentile'] = (len(result)-result['rank'])/len(result)*100
    result['quantiles'] = pd.qcut(result['rank'], 4, labels=False)
    result.loc[result['quantiles'] == 0] 
    print(result)
    break

                                                    Source  Weight  rank  \
Source
London Business Sch, London NW1 4SA, England.           11      12     1
Univ Penn, Wharton Sch, Philadelphia, PA 19104 ...      11      11     2
INSEAD, F-77305 Fontainebleau, France.                   8       9     3
Tilburg Univ, NL-5000 LE Tilburg, Netherlands.           7       7     4
Columbia Univ, Grad Sch Business, New York, NY ...       7       7     5
Univ Maryland, Robert H Smith Sch Business, Col...       6       6     6
Univ Minnesota, Carlson Sch Management, Minneap...       6       6     7
NYU, Stern Sch Business, New York, NY 10012 USA.         6       6     8
Stanford Univ, Grad Sch Business, Stanford, CA ...       6       6     9
Arizona State Univ, WP Carey Sch Business, Dept...       3       5    10
Univ Calif Los Angeles, Anderson Grad Sch Manag...       5       5    11
Univ S Carolina, Moore Sch Business, Columbia, ...       5       5    12
Univ Notre Dame, Mendoza Coll Business, Notre D...       3       4    13
Univ Western Ontario, Richard Ivey Sch Business...       4       4    14
Natl Bur Econ Res, Cambridge, MA 02138 USA.              4       4    15
Harvard Univ, Cambridge, MA 02138 USA.                   4       4    16
Emory Univ, Goizueta Business Sch, Atlanta, GA ...       4       4    17
Harvard Univ, Sch Business, Boston, MA 02163 USA.        4       4    18
Ohio State Univ, Fisher Coll Business, Columbus...       4       4    19
Univ Virginia, McIntire Sch Commerce, Charlotte...       3       3    20
Stanford Univ, Stanford, CA 94305 USA.                   3       3    21
Univ N Carolina, Kenan Flagler Business Sch, Ch...       3       3    22
Temple Univ, Fox Sch Business & Management, Phi...       3       3    23
Univ Warwick, Warwick Business Sch, Coventry CV...       3       3    24
Erasmus Univ, NL-3000 DR Rotterdam, Netherlands.         3       3    25
Hong Kong Univ Sci & Technol, Dept Finance, Hon...       3       3    26
Northwestern Univ, JL Kellogg Grad Sch Manageme...       3       3    27
York Univ, Schulich Sch Business, N York, ON M3...       3       3    28
Arizona State Univ, Tempe, AZ 85287 USA.                 3       3    29
Carnegie Mellon Univ, Tepper Sch Business, Pitt...       3       3    30
...                                                    ...     ...   ...
So Methodist Univ, Cox Sch Business, Dept Manag...       1       1   273
Singapore Management Univ, Sch Business, Singap...       1       1   274
Singapore Management Univ, Lee Kong Chian Sch B...       1       1   275
Simon Fraser Univ, Fac Business Adm, Vancouver,...       1       1   276
Middle E Tech Univ, Dept Business Adm, TR-06531...       1       1   277
Mississippi State Univ, Coll Business & Ind, De...       1       1   278
NBER, Insurance Program, Cambridge, MA 02138 USA.        1       1   279
NYU, Leonard N Stern Sch Business, Dept Managem...       1       1   280
NYU, New York, NY USA.                                   1       1   281
Nanjing Univ, Sch Business, Nanjing 210093, Peo...       1       1   282
Nanyang Technol Univ, Nanyang Business Sch, Sin...       1       1   283
Nanyang Technol Univ, Singapore 2263, Singapore.         1       1   284
Natl Univ Singapore, ScH Accountancy, Singapore...       1       1   285
Natl Univ Singapore, Sch Comp, Dept Informat Sy...       1       1   286
Northwestern Univ, Kellogg Sch Management, Evan...       1       1   287
Norwegian Sch Econ & Business Adm, NHH, N-5035 ...       1       1   288
Ohio State Univ, Dept Geog, Columbus, OH 43210 ...       1       1   289
Peking Univ, Guanghua Sch Management, Beijing 1...       1       1   290
Penn State Univ, Dept Psychol, University Pk, P...       1       1   291
Penn State Univ, Smeal Coll Business Adm, Unive...       1       1   292
Penn State Univ, Smeal Coll Business, Universit...       1       1   293
Pepsico Business Solut Grp, Plano, TX 75024 USA.         1       1   294
Rensselaer Polytech Inst, Lally Sch Management ...       1       1   295
Rice Univ, Jesse H Jones Grad Sch Management, H...       1       1   296
SDU Odense, Dept Mkt, DK-5230 Odense, Denmark.           1       1   297
SUNY Stony Brook, Dept Appl Math & Stat, Stony ...       1       1   298
San Diego State Univ, San Diego, CA 92182 USA.           1       1   299
San Francisco State Univ, Coll Business, San Fr...       1       1   300
Simon Fraser Univ, Burnaby, BC V5A 1S6, Canada.          1       1   301
Tufts Univ, Fletcher Sch Law & Diplomacy, Medfo...       1       1   302

                                                    percentile  quantiles
Source
London Business Sch, London NW1 4SA, England.        99.668874          0
Univ Penn, Wharton Sch, Philadelphia, PA 19104 ...   99.337748          0
INSEAD, F-77305 Fontainebleau, France.               99.006623          0
Tilburg Univ, NL-5000 LE Tilburg, Netherlands.       98.675497          0
Columbia Univ, Grad Sch Business, New York, NY ...   98.344371          0
Univ Maryland, Robert H Smith Sch Business, Col...   98.013245          0
Univ Minnesota, Carlson Sch Management, Minneap...   97.682119          0
NYU, Stern Sch Business, New York, NY 10012 USA.     97.350993          0
Stanford Univ, Grad Sch Business, Stanford, CA ...   97.019868          0
Arizona State Univ, WP Carey Sch Business, Dept...   96.688742          0
Univ Calif Los Angeles, Anderson Grad Sch Manag...   96.357616          0
Univ S Carolina, Moore Sch Business, Columbia, ...   96.026490          0
Univ Notre Dame, Mendoza Coll Business, Notre D...   95.695364          0
Univ Western Ontario, Richard Ivey Sch Business...   95.364238          0
Natl Bur Econ Res, Cambridge, MA 02138 USA.          95.033113          0
Harvard Univ, Cambridge, MA 02138 USA.               94.701987          0
Emory Univ, Goizueta Business Sch, Atlanta, GA ...   94.370861          0
Harvard Univ, Sch Business, Boston, MA 02163 USA.    94.039735          0
Ohio State Univ, Fisher Coll Business, Columbus...   93.708609          0
Univ Virginia, McIntire Sch Commerce, Charlotte...   93.377483          0
Stanford Univ, Stanford, CA 94305 USA.               93.046358          0
Univ N Carolina, Kenan Flagler Business Sch, Ch...   92.715232          0
Temple Univ, Fox Sch Business & Management, Phi...   92.384106          0
Univ Warwick, Warwick Business Sch, Coventry CV...   92.052980          0
Erasmus Univ, NL-3000 DR Rotterdam, Netherlands.     91.721854          0
Hong Kong Univ Sci & Technol, Dept Finance, Hon...   91.390728          0
Northwestern Univ, JL Kellogg Grad Sch Manageme...   91.059603          0
York Univ, Schulich Sch Business, N York, ON M3...   90.728477          0
Arizona State Univ, Tempe, AZ 85287 USA.             90.397351          0
Carnegie Mellon Univ, Tepper Sch Business, Pitt...   90.066225          0
...                                                        ...        ...
So Methodist Univ, Cox Sch Business, Dept Manag...    9.602649          3
Singapore Management Univ, Sch Business, Singap...    9.271523          3
Singapore Management Univ, Lee Kong Chian Sch B...    8.940397          3
Simon Fraser Univ, Fac Business Adm, Vancouver,...    8.609272          3
Middle E Tech Univ, Dept Business Adm, TR-06531...    8.278146          3
Mississippi State Univ, Coll Business & Ind, De...    7.947020          3
NBER, Insurance Program, Cambridge, MA 02138 USA.     7.615894          3
NYU, Leonard N Stern Sch Business, Dept Managem...    7.284768          3
NYU, New York, NY USA.                                6.953642          3
Nanjing Univ, Sch Business, Nanjing 210093, Peo...    6.622517          3
Nanyang Technol Univ, Nanyang Business Sch, Sin...    6.291391          3
Nanyang Technol Univ, Singapore 2263, Singapore.      5.960265          3
Natl Univ Singapore, ScH Accountancy, Singapore...    5.629139          3
Natl Univ Singapore, Sch Comp, Dept Informat Sy...    5.298013          3
Northwestern Univ, Kellogg Sch Management, Evan...    4.966887          3
Norwegian Sch Econ & Business Adm, NHH, N-5035 ...    4.635762          3
Ohio State Univ, Dept Geog, Columbus, OH 43210 ...    4.304636          3
Peking Univ, Guanghua Sch Management, Beijing 1...    3.973510          3
Penn State Univ, Dept Psychol, University Pk, P...    3.642384          3
Penn State Univ, Smeal Coll Business Adm, Unive...    3.311258          3
Penn State Univ, Smeal Coll Business, Universit...    2.980132          3
Pepsico Business Solut Grp, Plano, TX 75024 USA.      2.649007          3
Rensselaer Polytech Inst, Lally Sch Management ...    2.317881          3
Rice Univ, Jesse H Jones Grad Sch Management, H...    1.986755          3
SDU Odense, Dept Mkt, DK-5230 Odense, Denmark.        1.655629          3
SUNY Stony Brook, Dept Appl Math & Stat, Stony ...    1.324503          3
San Diego State Univ, San Diego, CA 92182 USA.        0.993377          3
San Francisco State Univ, Coll Business, San Fr...    0.662252          3
Simon Fraser Univ, Burnaby, BC V5A 1S6, Canada.       0.331126          3
Tufts Univ, Fletcher Sch Law & Diplomacy, Medfo...    0.000000          3

[302 rows x 5 columns]