In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import numpy as np
plotly.tools.set_credentials_file(username='yaghdev', api_key='BZvETrFTjtGisnoBsxAP')

In [3]:
excel = pd.read_csv('C:/Users/Krishan/Downloads/FT50_WOS/insitutional_year_wise_all/edges/edges_whole.csv')
 
usa_length = []
insitute_with_in_usa = excel.loc[(excel['Source'].apply(lambda x: x[-4:] == 'USA.')) & (excel['Target'].apply(lambda x: x[-4:] != 'USA.'))]
insitute_with_in_usa['Source'] = insitute_with_in_usa['Source'].apply(lambda x: x.split(",")[0] + x.split(",")[-1])
insitute_with_in_usa['Source'] = insitute_with_in_usa['Source'].apply(lambda x: "NBER MA 02138 USA." if x == "Natl Bur Econ Res MA 02138 USA." else x)
insitute_with_in_usa = insitute_with_in_usa.sort_values(by='Weight', ascending=False)

C:\Users\Krishan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

C:\Users\Krishan\AppData\Local\Continuum\anaconda3\lib\site-packages\ipykernel_launcher.py:6: SettingWithCopyWarning:


A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [4]:
insitute_with_in_usa.groupby(['Source']).agg({'Source':'count', 'Weight':'sum'}).sort_values(by='Weight', ascending=False)[:30]

                                    Source  Weight
Source
NBER MA 02138 USA.                     678     913
Univ Penn PA 19104 USA.                376     429
Stanford Univ CA 94305 USA.            293     323
Columbia Univ NY 10027 USA.            284     317
Univ Minnesota MN 55455 USA.           261     295
Harvard Univ MA 02138 USA.             266     294
Northwestern Univ IL 60208 USA.        249     278
Univ Michigan MI 48109 USA.            247     277
Univ Chicago IL 60637 USA.             249     275
Univ Maryland MD 20742 USA.            245     266
Arizona State Univ AZ 85287 USA.       240     265
Univ Calif Berkeley CA 94720 USA.      228     259
Penn State Univ PA 16802 USA.          218     245
Georgia State Univ GA 30303 USA.       220     239
MIT MA 02139 USA.                      213     227
Ohio State Univ OH 43210 USA.          195     219
NYU NY 10012 USA.                      193     211
Indiana Univ IN 47405 USA.             186     200
Univ Texas Austin TX 78712 USA.        179     199
Cornell Univ NY 14853 USA.             178     198
Carnegie Mellon Univ PA 15213 USA.     165     181
Duke Univ NC 27708 USA.                145     173
Univ So Calif CA 90089 USA.            139     160
NYU NY 10003 USA.                      142     154
Yale Univ CT 06520 USA.                139     151
Boston Univ MA 02215 USA.              133     145
Univ Washington WA 98195 USA.          129     142
Michigan State Univ MI 48824 USA.      135     140
Texas A&M Univ TX 77843 USA.           131     137
Univ Texas Dallas TX 75083 USA.        113     136