In [25]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly
import plotly.plotly as py
import plotly.graph_objs as go
import numpy as np

In [26]:
year = ['2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016', '2017']

excel = pd.read_csv('C:/Users/Krishan/Downloads/FT50_WOS/insitutional_year_wise_all/edges/edges_whole.csv')    
insitute_2005 = excel.loc[(excel['Source'].apply(lambda x: x[-4:] == 'USA.')) & (excel['Target'].apply(lambda x: x[-4:] == 'USA.'))]
insitute_2005 = insitute_2005.sort_values(by='Weight', ascending=False)
insitute_2005 = insitute_2005.groupby(['Source']).agg({'Source':'count', 'Weight':'sum'}).sort_values(by='Weight', ascending=False)
insitute_2005.rename(columns={'Source': 'No of Insititute'}, inplace=True)
insitute_2005.reset_index(level=0, inplace=True)
insitute_2005

,Source,No of Insititute,Weight
0,"NBER, Cambridge, MA 02138 USA.",915,2298
1,"Natl Bur Econ Res, Cambridge, MA 02138 USA.",455,1034
2,"Univ Penn, Wharton Sch, Philadelphia, PA 19104...",369,616
3,"Ohio State Univ, Fisher Coll Business, Columbu...",203,332
4,"Univ Calif Berkeley, Haas Sch Business, Berkel...",186,327
5,"Duke Univ, Fuqua Sch Business, Durham, NC 2770...",194,320
6,"Univ Maryland, Robert H Smith Sch Business, Co...",238,319
7,"Stanford Univ, Stanford, CA 94305 USA.",157,318
8,"Univ Chicago, Booth Sch Business, Chicago, IL ...",187,288
9,"MIT, Cambridge, MA 02139 USA.",118,285
10,"Indiana Univ, Kelley Sch Business, Bloomington...",198,279
11,"Northwestern Univ, Kellogg Sch Management, Eva...",164,273
12,"Univ So Calif, Marshall Sch Business, Los Ange...",183,260
13,"Univ Calif Berkeley, Berkeley, CA 94720 USA.",122,240
14,"Univ Minnesota, Carlson Sch Management, Minnea...",200,237
15,"Harvard Univ, Sch Business, Cambridge, MA 0213...",177,233
16,"Columbia Univ, Grad Sch Business, New York, NY...",129,219
17,"Harvard Univ, Sch Business, Boston, MA 02163 USA.",160,214
18,"Univ Michigan, Stephen M Ross Sch Business, An...",142,202
19,"Penn State Univ, Smeal Coll Business, Universi...",159,201
20,"Univ Texas Austin, McCombs Sch Business, Austi...",140,191
21,"Arizona State Univ, Tempe, AZ 85287 USA.",124,188
22,"Univ Georgia, Terry Coll Business, Athens, GA ...",143,180
23,"Arizona State Univ, WP Carey Sch Business, Tem...",146,178
24,"Univ N Carolina, Kenan Flagler Business Sch, C...",113,168
25,"Univ Michigan, Ann Arbor, MI 48109 USA.",112,167
26,"Purdue Univ, Krannert Sch Management, W Lafaye...",138,166
27,"Stanford Univ, Grad Sch Business, Stanford, CA...",130,160
28,"Georgetown Univ, McDonough Sch Business, Washi...",120,158
29,"Carnegie Mellon Univ, Tepper Sch Business, Pit...",129,157
...,...,...,...
6737,"Hofstra Univ, Zarb Sch Business, Hempstead, NY...",1,1
6738,"Human Resources Res Org, Minneapolis, MN 55401...",1,1
6739,"Human Resources Res Org, Minneapolis, MN USA.",1,1
6740,"Hunter Coll, Dept Econ, New York, NY 10021 USA.",1,1
6741,"IDEO, Palo Alto, CA 94301 USA.",1,1
6742,"Univ Arkansas, Supply Chain Management, Sam M ...",1,1
6743,"IIT, Inst Business & Interprofessional Studies...",1,1
6744,"Univ Baltimore, 1420 N Charles St, Baltimore, ...",1,1
6745,"Univ Baltimore, Baltimore, MD 21201 USA.",1,1
6746,"Univ Baltimore, Merrick Sch Business w, Baltim...",1,1
6747,"Univ Baltimore, Merrick Sch Business, 1420 Nor...",1,1
6748,"IFS, Cambridge, MA USA.",1,1
6749,"Univ Bridgeport, Dept Management, Bridgeport, ...",1,1
6750,"Univ Buffalo State Univ New York, Dept Org & H...",1,1
6751,"Univ Buffalo, Sch Management, Dept Mkt, Buffal...",1,1
6752,"Univ Calif Angeles, Anderson Sch Management, L...",1,1
6753,"Univ Calif Berkeley, 530 Evans Hall 3880, Berk...",1,1
6754,"Univ Calif Berkeley, Dept Econ, Berkeley, CA USA.",1,1
6755,"Univ Calif Berkeley, 530 Evans Hall,3880, Berk...",1,1
6756,"Univ Calif Berkeley, 545 Student Serv Bldg 190...",1,1
6757,"Univ Calif Berkeley, Boalt Hall Sch Law, Berke...",1,1
6758,"Univ Calif Berkeley, Charles & Louise Travers ...",1,1
6759,"IBM TJ Watson Res Ctr, Yorktown Hts, NY 10598 ...",1,1
6760,"Univ Calif Berkeley, Dept Business, Berkeley, ...",1,1
6761,"IBM Corp, Res Triangle Pk, NC 27709 USA.",1,1
6762,"Univ Calif Berkeley, Dept Econ, 530 Evans Hall...",1,1
6763,"IBM Corp, Amer Market Intelligence, New York, ...",1,1
6764,"Univ Calif Berkeley, Dept Econ, 549 Evans Hall...",1,1
6765,"Univ Calif Berkeley, Dept Econ, 619 Evans Hall...",1,1
6766,"1208 Univ Oregon, Lundquist Coll Business, Uni...",1,1